*

!.gitignore

!options.txt

!servers.dat

!config
!config/*.cfg
!config/*.json

!wurst
!wurst/*

!mods
!mods/.index
!mods/.index/*.pw.toml

!resourcepacks
!resourcepacks/*
!resourcepacks/*/pack.mcmeta

!resourcepacks/VanillaTweaks_r*_MC*.*.*/Selected Packs.txt

!schematics
!schematics/*

!icon.png
