[submodule "resourcepacks/scp-resource-pack"]
	path = resourcepacks/scp-resource-pack
	url = git@github.com:EsotericEnderman/scp-resource-pack.git
[submodule "mod-menu"]
	path = mod-menu
	url = git@github.com:TerraformersMC/ModMenu.git
[submodule "architectury"]
	path = architectury
	url = git@github.com:architectury/architectury-api.git
[submodule "zoomify"]
	path = zoomify
	url = git@github.com:isXander/Zoomify.git
