# Downloads
downloads

# Logs
logs
debug
crash-reports
command_history.txt

# Cache
cache
usercache.json
config/viafabricplus/viabedrock/blob_cache

# Jar files
*.jar

# "Old" data files - unneeded
*.dat_old

# Screenshots
screenshots

# Worlds - should be saved with submodules anyways
saves

# WorldEdit archive
config/worldedit/.archive-unpack
