[submodule "config/skinshuffle/profile"]
	path = config/skinshuffle/skins/profile
	url = git@github.com:esotericenderman/esotericenderman.git
[submodule "saves/template"]
	path = saves/template
	url = git@github.com:esoterictemplates/template-minecraft-world.git
